<app-dialog [open]="open">
    <div class="flex flex-col items-center">
        <h1 class="text-lg font-bold">Customize your server</h1>
        <span class="opacity-50">Give your server a personality with a name and an image. You can always change it later.</span>
        <form action="" class="flex flex-col w-full my-2 gap-2">
            <label for="">SERVER NAME</label>
            <input type="text" placeholder="Enter server name" class="w-full bg-gray-500 text-white rounded-md p-1">
            <button type="submit" class="bg-blue-950 text-white p-1 rounded-md">Create</button>
        </form>
    </div>
</app-dialog>